.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: -2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.Preload-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.txt-footer{
  font-style: italic;
  margin-top: 13rem;
}

.effectContainer{
  width: 30rem;
  text-align: center;
}


.text-effect {
  font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold; /* Adiciona negrito ao texto */
  background: linear-gradient(to right, white, gray); /* Degradê do branco para o cinza */
  background-size: 200% 100%; /* Faz o fundo ocupar o dobro da largura do texto */
  -webkit-background-clip: text; /* Faz o fundo se aplicar ao texto */
  -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
  animation: gradientAnimation 2s infinite alternate; /* Animação do degradê */
}

@keyframes gradientAnimation {
  0% {
      background-position: 100% 0; /* Começa do lado direito */
  }
  100% {
      background-position: 0 0; /* Termina do lado esquerdo */
  }
}
